<div class="general_container">
  <form class="big_white_textarea big_white_buttons" action="<%= @route %>" method="POST">
    <textarea name="content" placeholder= "Write a comment!"></textarea></br>
    <input type="submit" value="Post Comment">
  </form>
</div>