body{
  /*text-align: center;*/
  background: linear-gradient(
    rgba(148, 194, 255, 1),
    rgba(255, 199, 199, 1));
  font-size: larger;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 100%;
  font-family: 'Raleway', sans-serif;
}

#user-creation-container {
  padding-top: 15px;
  width: 500px;
  margin-left: 15%;
}

#user-creation-container > form > input[type="text"]{
  border-radius: 10px;
  margin-bottom: 2px;
  box-shadow: 1px 1px 1px;
}

#user-creation-container > form > input[type="password"]:nth-child(9) {
  border-radius: 10px;
  box-shadow: 1px 1px 1px;
}

#create_question {
  margin-left: 5%;
  width: 85%;
  height: 600px;
  width: 700px;
}

#create_question > form > input[type="text"]:nth-child(1) {
  float: left;
  width: 700px;
  margin-bottom: 2px;
  box-shadow: 1px 1px 1px;
}

#create_question > form > textarea {
 clear: left;
 float: left;
 width: 700px;
 box-shadow: 1px 1px 1px;
 height: 450px;
}

#create_question > form > input[type="submit"]:nth-child(3) {
 clear: left;
 float: right;
 border-radius: 3px;
 margin-right: -7px;
}

h1{
  margin-bottom: 0;
}
h2{
  margin-bottom: 0;
}
ul li {
  list-style: none;
}
.general_container{
  margin: 5%;
}

.container{
  margin-left: 5%;
}
.big_white_buttons input {
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  background-color: white;
}

#user-creation-container > form > input[type="submit"]:nth-child(11) {
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  background-color: white;
}

.big_white_textarea textarea {
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  background-color: white;
  width: 25em;
  height: 10em;
}

#newaccount{
  text-decoration: none;
  float:left;
  /*margin-top: .1em;*/
  margin-right: 1em;
  padding: 1px;
}

#newquestion{
  text-decoration: none;
  font-size: x-large;
}

#header{
  height: 65px;
  background-color: black;
}

#header > form > input[type="submit"]:nth-child(2) {
  float: right;
  margin-top: 10px;
  margin-right: 5px;
}

#header > a {
  display: inline-block;
  text-decoration: none;
  font-size: 30px;
  margin-left: 5px;
  margin-top: 15px;
}
#header > form{
  float: right;
}

.edit_button input {
  padding: 10px;
  margin: 10px;
}

.question{
  min-height: 5em;
}

.link{
  text-decoration: none;
  color: rgb(37, 102, 0);
}

.link:hover{
  color: rgb(0, 152, 100);
}

.link:visited{
  color: rgb(0, 170, 120);
}

.votebox{
  float:left;
  padding: 1em 1em 0em 1em;
}

.votebox a{
  text-decoration: none;
}

.details{
  padding-top: .5em;
}

.score{
  font-size: x-large;
}

.upvote{
  color: gray;
}

.upvote.colorme{
  color: yellow;
}

.downvote.colorme{
  color: red;
}

.downvote{
  color: gray;
}

.horiz-line{
  border: 1px solid gray;
  width: 95%;
}

.answer-box{
  padding-left: 2em;
}

.best-answer{
  outline: 5px solid red;
  max-width: 90%;
}

.comment-content{
  min-height: 4em;
  padding-top: 2em;
}

.answer_content{
  min-height: 4em;
  padding-top: 2em;
}

.answer_author{
  padding-left: 6em;
}
