<form id="login" method="POST" action="/users/login">
  <input type="text" name="username" placeholder="Username">
  <input type="text" name="username" placeholder="Username">
  <input type="submit" value="Login">
</form>
