<form class="big_white_textarea big_white_buttons" action="/questions/<%=question.id%>/answers/<%=answer.id%>/edit" method="post">
  <input type="hidden" name="_method" value="put">
  <textarea name="answer"><%=answer.content%></textarea></br>
  <input type="submit" value="Post!"></br>
</form>