<div id="answer-container" style="width: 500px; height: 500px; margin: auto;">
  <form class="big_white_textarea big_white_buttons" name="answer-creation" action="/questions/<%=@question.id %>/answers" method="post">
    <textarea name="answer" placeholder="Be nice..."></textarea><br />
    <input type="submit" name="submit" value="Post Your Answer">
  </form>
</div>
