<div class="general_container">
  <h1><%= @question.title %></h1>
  <h2><%= @question.author.username %></h2>
  <p class = "content"> <%= @question.content %> </p>
  <%= erb :'/questions/_edit', locals: { question: @question } %>
</div>


