<div class="general_container">
  <form class="big_white_textarea big_white_buttons" action="/answers/<%=answer.id%>/comments/<%=comment.id%>/edit" method="post">
    <input type="hidden" name="_method" value="put">
    <textarea name="comment"><%=comment.content%></textarea></br>
    <input type="submit" value="Post!"></br>
  </form>
</div>