<div id="main">
  <h1> Books! </h1>
  <ul><% @books.each do |book| %>
    <li> <%=book.title %> <br /> Author: <%=book.author.name %> <br /> Publisher: <%=book.publisher.name %> </li>
    <br />
      <% end %>
  </ul>
</div>
